div.japan {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

div.japan div.image {
  flex: 1 1 300px;
  display: flex;
  align-items: center;
}

div.japan div.image img {
  width: 100%;
}

div.japan div.info {
  flex: 3 1 600px;
  padding: 2rem;
}
div.competition {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
}

div.competition div.text {
  flex: 5 1 300px;
  padding: 1rem;
}

div.competition div.text h3 {
  font-size: 2rem;
  color: rgb(18, 122, 92);
  padding: 1rem;
}
#piechart {
  flex: 1 1 300px;
}

div.competition div.text ul {
  margin-left: 2rem;
}
